@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> About</h1>
<p>
    Breads Bakery is a New York bakery dedicated to producing artisanal, handmade breads using traditional baking techniques.  Most of the artisan breads we bake are made with whole grains and go through a slow proofing process, which sharpens and improves the taste.
</p>
<p>
    A lot of thought has been given to the components of the bread, types of flour and the addition of seeds and grains which increase the nutritional value. We select only the finest ingredients and, when possible, use natural and organic ingredients. The bakery bakes both sweet and savory items including rustic breads and pastries.
</p>

<p>
    It fills us with satisfaction to feed and to host. Much thought is put into this - making it comfortable, pleasant, appetizing, aromatic, satisfying and abundant. We let our work speak for itself.
</p>


<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well well-sm">
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Name
                            </label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email Address
                            </label>
                            <input type="email" class="form-control" id="email" placeholder="Email" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="subject">
                                Subject
                            </label>
                            <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">
                                Message
                            </label>
                            <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                      placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                            Send Message
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<h1>CAREER OPPORTUNITIES</h1>
<p>Are you a foodie at heart?  Are you interested in joining the Breads Bakery team? Send us a message at:</p>
<p>
    jointheteam@breadsbakery.com
</p>