@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Bread Caking Classes</h1>

<h2>Upcoming Classes:</h2>

<h4>Challah Making</h4>
<p>Location: Breads Bakery – 18 E 16th Street, New York</p>
<p>Dates: May 24th</p>
<p>Time:  6pm - 8:30pm</p>

<p>In our Challah Workshop, participants will mix a challah dough in groups of two and each braid and decorate their own three-strand loaf. We will also demonstrate a wide variety of baked goods that can be made from our basic challah recipe, including a version of our famous chocolate babka!</p>
<p>Participants will leave class with a basic understanding of the ingredients used and the process of fermentation, how to knead dough and what signs to look for, and a wealth of ideas for shaping and flavoring your challah dough. Each person will take home their challah loaf, individual rolls, and everything else made together in the workshop.</p>

<p>Participants will also get access to our exclusive Facebook group in which they can ask us baking questions and post photos of items they've made after taking the class. During and after the workshop, we encourage participants to use #BreadsBakeryWorkshop to tag posts and photos so we can follow up with everyone's home baking endeavors.</p>


<p>Call to sign up: 212-633-BAKE (2253)</p>