@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Locations</h1>

<div>

<h2>Union Square</h2>
<p>
    We are a bread bakery and coffee shop in Union Square. Our café serves premium coffee, next to light meals, made from fresh products that just came out of the oven. There is a walk-in shop with an intimate bread counter in the front. The back counter sells coffee, sandwiches, soups, desserts and more.
</p>


<p>Location:</p>
<p>18 East 16th St. NYC (Union Square)</p>

<p>Hours:</p>
<p>Mon-Fri - 6:30am-9pm</p>
<p>Sat - 6:30am-8pm</p>
<p>Sun - 7:30am-8pm</p>
</div>


<div>

<h2>BRYANT PARK KIOSK</h2>
<p>"To start your day with coffee and a slice of Breads Bakery’s babka swirled with dark chocolate, you now have an option in addition to the home base near Union Square: a kiosk in Bryant Park, the bakery’s first satellite. There you will find rugelach, cinnamon rolls, olive sticks, sandwiches, salads and burekas."</p>
   <p><em>The New York Times</em></p>


<p>Location:</p>
<p>42nd Street and Avenue of the Americas</p>

<p>Hours:</p>
<p>Mon - 7am-10pm</p>
<p>Tue-Sun - 7am-9pm</p>

<p><em>*Not all menu items are available at our Bryant Park Kiosk</em></p>
</div>


<div>
<h2>LINCOLN CENTER</h2>
<p>"A finger-licking cross between brioche and a sticky bun, the sweet, swirled dough is laced with cinnamon and studded with plum raisins and crushed walnuts, moist in the middle with a sugary crust on top."</p>

<p><em>Time Out New York</em></p>


<p>Location:</p>
<p>1890 Broadway New York, NY 10023</p>

<p>Hours:</p>
<p>Sunday - Thursday 7am - 9pm</p>
<p>Friday - Saturday 7am - 11pm</p>

</div>



