@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BreadsBakery.Models.User

@if (User.Identity.IsAuthenticated)
{
    

    <div>
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Orders:</h3>
        @foreach (var order in @Model.CateringOrders)
        {
            <h5>@order.Address</h5>

        }
    </div>
}